td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

.input-group {
	margin: 20px 0px;
}

svg {
	height: 135px;
}

td:nth-of-type(3), td:nth-of-type(3) > div {
	height:	200px;
	width: 250px;
}